<div class="joystick-values">
  <div>
    x: {{ currCircleOrigin.x | number: "1.2-2" }} y:
    {{ currCircleOrigin.y | number: "1.2-2" }}
  </div>
  <div>Angle: {{ angleInDegrees }}°</div>
  <div>Current Speed: {{ speed | number: "1.2-2" }}</div>
  <ngx-slider [(value)]="speedSliderValue" [options]="speedSliderOptions"></ngx-slider>
</div>
<!-- <div #center class="center"></div> -->
<div class="joystick-wrapper">
  <div #outerCircle id="outerCircle" class="joystick-circle" [style.width.px]="diameter" [style.height.px]="diameter">
    <div #innerCircle id="innerCircle" class="joystick-circle-controller" [style.width.px]="innerDiameter" [style.height.px]="innerDiameter">
      <!-- <div style="height:10px;width:10px; background-color: aqua; position: absolute" [style.left.px]="circleOrigin.x" [style.top.px]="circleOrigin.y"></div> -->
    </div>
  </div>
</div>